<?xml version="1.0"?>
<launch>
  <arg name="output" default="screen"/> <!-- Set output="log" to mute the screen output -->
  <arg name="debug" default="True"/> <!-- Enable debugging information and pictures -->
  <arg name="source" default="experiment"/> <!-- Source of pre-planned data for this experiment -->
  <arg name="name" default="none"/> <!-- Name of the experiment -->
  <arg name="iterations" default="1000000"/> <!-- Number of iterations to run -->

  <param name="/nips2016/perception/debug" value="$(arg debug)" />
  <param name="/nips2016/experiment_name" value="$(arg name)" />
  <param name="/nips2016/source_name" value="$(arg source)" />
  <param name="/nips2016/iterations" value="$(arg iterations)" />
  <node name="environment" pkg="nips2016" type="environment.py" output="$(arg output)"/>
  <node name="perception" pkg="nips2016" type="perception.py" output="$(arg output)"/>
  <node name="torso" pkg="nips2016" type="torso.py" output="$(arg output)" respawn="true"/>
  <node name="learning" pkg="nips2016" type="learning.py" output="$(arg output)" required="true"/>
  <node name="user" pkg="nips2016" type="user.py" output="$(arg output)" respawn="true"/>
</launch>
